name: Deploy Shuttle

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Deploy Shuttle
        uses: shuttle-hq/deploy-action@v2
        with:
          shuttle-api-key: ${{ secrets.SHUTTLE_API_KEY }}
          project-id: proj_01K94FH41X8EDSGJHD9C5FKZCT
          secrets: |
            MONGO_URI = '${{ secrets.DATABASE_URI }}'